---
import ImageMod from "@/components/ImageMod.astro";
import { getEntry } from "astro:content";

const about = await getEntry("about", "-index");
const { Content } = await about.render();
const { title, image } = about.data;
---

  <section class="section-sm about-section">
    <div class="text-center">
          {
            image && (
              <ImageMod
                class="mb-10 rounded-full mx-auto"
                src={image}
                width={200}
                height={200}
                alt={title}
                format="webp"
              />
            )
          }
          <div class="content -mb-36 2xl:mx-64">
            <Content />
          </div>
    </div>
  </section>
