---
import ImageMod from "@/components/ImageMod.astro";
import * as about from "src/content/about/-index.md";

const { title, image } = about.frontmatter;
---

  <section class="section-sm about-section">
    <div class="text-center">
          {
            image && (
              <ImageMod
                class="mb-10 rounded-full mx-auto"
                src={image}
                width={350}
                height={350}
                alt={title}
                format="webp"
              />
            )
          }
          <div class="content -mb-36 2xl:mx-64 -mt-6">
            <Fragment set:html={about.compiledContent()}/>
          </div>
    </div>
  </section>
